langchain==0.3.27
langgraph==0.6.2
dotenv==0.9.9
arxiv==2.2.0
semanticscholar==0.10.0
tqdm==4.67.1
certifi
scholarly==1.7.11
fastapi==0.116.1
sqlalchemy==2.0.41
uvicorn==0.35.0
bcrypt==4.3.0
jose==1.0.0
python-jose[cryptography]